// FEATURES :: START

section#features.features
  h2.features__title.title(
  parallax-js
  data-stellar-ratio="1.4"
  )!= "Features"

  .c-grid
    .features__wrapper
      .features__wrapper-left
        img(
          src="./img/img-features.png"
          srcset="./img/img-features@2x.png 2x" 
          alt=""
          title=""
         )
        
      .features__wrapper-right
        .features__block.features__block-0
          .features__block-left
            i.fas.fa-bolt
          .features__block-right
            p.features__block-title!= "Feature #1"
            p.features__block-text!= "Spicy jalapeno bacon ipsum dolor amet shoulder doner pork loin, andouille salami turkey pig flank drumstick boudin. Sausage pork loin sirloin."

        .features__block.features__block-1
          .features__block-left
            i.fas.fa-lock
          .features__block-right
            p.features__block-title!= "Feature #2"
            p.features__block-text!= "Strip steak short loin frankfurter, short ribs pastramiturkey burgdoggen rump. "

        .features__block.features__block-2
          .features__block-left
            i.fas.fa-hdd
          .features__block-right
            p.features__block-title!= "Feature #3"
            p.features__block-text!= "Pork belly rump turkey corned beef, pork pork choptenderloin beef ribs frankfurter bresaola ham hock. Filet mignon strip steak hamburger shankle kielbasa."

        .features__block.features__block-3
          .features__block-left
            i.ic.lightbulb
          .features__block-right
            p.features__block-title!= "Feature #4"
            p.features__block-text!= "Pork belly burgdoggen swine shoulder ham hock bresaola capicola corned beef. Strip steak prosciutto pork loin swine pastrami ham."
            a(
              href="https://www.netobjex.com/"
              title=""
              class="features__block-link"
              target="_blank"
            )!= "Learn more"


// FEATURES :: END