// HEADER :: START

header#header.header
  .c-grid-fluid
    .header__wrapper
      .header__wrapper-left
        a(href="/" title="" class="")
          img(
            src="./img/img-logotype-header.png"
            srcset="./img/img-logotype-header@2x.png 2x"
            alt="" title=""
           )

      .header__wrapper-mobile.animated
        a.header__link(href="#main" title="" class="" anchor-js data-id="main")!= "Overview"
        a.header__link(href="#features" title="" class="" anchor-js data-id="features")!= "Features"
        a.header__link(href="#spec" title="" class="" anchor-js data-id="spec")!= "Specs"
        a.header__link(href="#pledges" title="" class="" anchor-js data-id="pledges")!= "Pledges"
        a.header__btn(
          href="#"
          title=""
          class="btn btn--gr"
        )
          span!= "Crowd Fund Us"

      include ../macros/_hamburger

// HEADER :: END