// SPECIFICATION :: START

section#spec.spec
  h2.spec__title.title!= "Specifications"
  .c-grid
    .spec__wrapper
      .spec__wrapper-left
        img(
          src="./img/img-spec-1.png"
          srcset="./img/img-spec-1@2x.png 2x"
          alt=""
          title=""
         )
        img(
          src="./img/img-spec-0.png"
          srcset="./img/img-spec-0@2x.png 2x"
          alt=""
          title=""
         )

      .spec__wrapper-right
        p.spec__subtitle!= "Size and Weight"
        p.spec__text!= "<span>Height:</span> XX.X inches (XXX.X mm)"
        p.spec__text!= "<span>Width:</span> XX.X inches (XXX.X mm)"
        p.spec__text!= "<span>Depth:</span> XX.X inches (XXX.X mm)"
        p.spec__text!= "<span>Weight:</span> XX.X pounds (XXX grams)"

        p.spec__subtitle!= "Capacity"
        p.spec__text!= "<span>MicroSD Card:</span> Up to XX GB"
        p.spec__text!= "<span>Internal Hard Drive:</span> XXX GB"

        p.spec__subtitle!= "Connections"
        p.spec__text.spec__text--lh!= "Fatback sausage ground <br>Round ribeye ham shank porchetta <br>Corned beef rump tongue beef <br>Andouille burgdoggen pork belly <br>Pastrami tongue chuck tail <br>Pork loin <br>Beef ribs kielbasa pork belly <br>Biltong short loin prosciutto brisket <br>Pork loin hamburger bresaola <br>Cow tail drumstick turducken <br>Strip steak"


// SPECIFICATION :: END