// LOGOTYPE :: START

.logo.logo--footer
  a(
    href="#"
    title=""
    class=""
  )
    img(
      src="./img/img-logotype-header.png"
      srcset="./img/img-logotype-header@2x.png 2x"
      alt="" title=""
    )

// LOGOTYPE :: END