// LOGOTYPE :: START

.logo
  a(
    href="#"
    title=""
    class=""
  )
    img(
      src="./img/img-logotype-footer.png"
      srcset="./img/img-logotype-footer@2x.png 2x"
      alt=""
      title=""
     )

// LOGOTYPE :: END