// NAV FOOTER :: START

.nav.nav--footer
  .nav__wrapper.nav__wrapper-0
    a.nav__btn(
      href="#main" title="" class=""
    anchor-js
    data-id="main"
    )!= "Overview"
    a.nav__btn(
      href="#features" title="" class=""
    anchor-js
    data-id="features"
    )!= "Features"
    a.nav__btn(
      href="#spec" title="" class=""
    anchor-js
    data-id="spec"
    )!= "Specs"
    a.nav__btn(
      href="#pledges" title="" class=""
    anchor-js
    data-id="pledges"
    )!= "Pledges"
    a.nav__btn(
      href="#" title="" class=""
    )!= "Crowd Fund Us"

  .nav__wrapper.nav__wrapper-1
    a.nav__btn(
      href="#" title="" class=""
    )!= "Terms and Conditions"
    a.nav__btn(
      href="#" title="" class=""
    )!= "Privacy Policy"


// NAV FOOTER :: END