// NAV FOOTER :: START

.nav.nav--footer
  .nav__wrapper.nav__wrapper-0
    a.nav__btn(
      href="#" title="" class=""
    )!= "Overview"
    a.nav__btn(
      href="#" title="" class=""
    )!= "Features"
    a.nav__btn(
      href="#" title="" class=""
    )!= "Specs"
    a.nav__btn(
      href="#" title="" class=""
    )!= "Pledges"
    a.nav__btn(
      href="#" title="" class=""
    )!= "Crowd Fund Us"

  .nav__wrapper.nav__wrapper-1
    a.nav__btn(
      href="#" title="" class=""
    )!= "Terms and Conditions"
    a.nav__btn(
      href="#" title="" class=""
    )!= "Privacy Policy"


// NAV FOOTER :: END